* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: SourceSansPro, Ariel, Sans-serif;
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-size: 58px;

  color: white;
  text-align: center;
  font-weight: bold;
}
h2 {
  font-size: 22px;
  font-weight: bold;
  color: #33325f;
  margin-bottom: 5px;
}
p {
  font-size: 22px;
  line-height: 1.59;
  color: #2b2b2b;
}
section {
}
/* ---------------------------------- */
/*BLOCK THE IMAGE                     */
/* ---------------------------------- */
/* .block {
  display: inline-block;
} */
/* ---------------------------------- */
/*HEADER                              */
/* ---------------------------------- */
nav {
}
.header-main {
  padding: 38px 204px 0 204px;
}
header {
  position: absolute;

  z-index: 1;
  width: 100%;
}
ul {
  float: right;
}
ul::after {
  content: "";
  clear: both;
  display: block;
}

li {
  float: left;
  list-style: none;
  font-size: 18px;
  font-weight: 600;
  color: white;
  margin-left: 50px;
}
.logo {
  color: white;
  font-size: 22px;
  font-weight: 600;
}

/* ---------------------------------- */
/*HERO SECTION                        */
/* ---------------------------------- */

.hero-section {
  position: relative;
  min-height: 771px;
  background-image: url("https://cdn.zeplin.io/59de1f633fed7a7ec333d574/assets/6C0A1445-B49F-463C-A133-6EC97E5C13C6.png");
  background-size: cover;
  text-align: center;
  color: white;
  margin-bottom: 108px;
}
.hero-section-main {
  min-width: 870px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hero-section-main p {
  font-size: 26px;
  color: white;
  margin-bottom: 30px;
  margin-top: 8px;
}
.hero-section-main a {
  padding: 13px 56px;
  background-color: #00d5a6;
}
/* .hero-section-div .btn {
  text-align: center;
} */

/* ---------------------------------- */
/*SECTION                              */
/* ---------------------------------- */
.common-section {
  width: 972px;
  margin: 0 auto 125px;
}
/* ---------------------------------- */
/*SECTION-1                           */
/* ---------------------------------- */

.first-section-main {
  margin-right: 84px;
  width: 460px;
  display: inline-block;
}
.first-section-main p {
  padding-bottom: 5px;
}
.first-section-main .cta-links a {
  font-weight: 600;
  width: 70px;
  height: 35px;
  font-style: normal;
  line-height: 1.94;
  font-size: 18px;
  color: #ff0161;
}

.first-section-image {
  display: inline-block;
}
.first-section-image img {
  width: 416px;
  height: 176px;
}

/* ---------------------------------- */
/*SECTION-2                           */
/* ---------------------------------- */
.second-section-image {
  display: inline-block;
}
.second-section-image img {
  width: 434px;
  height: 524px;
}
.second-section-main {
  vertical-align: 90px;
  width: 460px;
  margin-left: 70px;
  display: inline-block;
}
.second-section-main p {
  padding-bottom: 26px;
}

hr {
  width: 569px;
}
.second-section-main-images p {
  width: 369px;
  margin-top: 26px;
  display: inline-block;
  font-size: 16px;
}
.second-section-main-images p span {
  color: #ff0161;
  font-weight: bold;
}
.second-section-main-images img {
  vertical-align: middle;
  width: 70px;
  height: 70px;
}
td {
  padding-top: 13px;
}
.fa-solid {
  color: #00e3aa;
  font-size: 2 6px;
}
td span {
  padding: 0 30px 0 9px;

  font-size: 16px;
  color: #33325f;
}

/* ---------------------------------- */
/*SECTION-3                           */
/* ---------------------------------- */

.third-section-main {
  vertical-align: 158px;
  width: 460px;
  display: inline-block;
}
.third-section-images {
  width: 460px;
  height: 387px;
  display: inline-block;
}
.third-section-images img {
  width: 596px;
  height: 388ox;
}

/* ---------------------------------- */
/*FOOTER                              */
/* ---------------------------------- */
footer {
  /* padding: 0 98px; */
  background-color: #fbfafc;
}
.footer-main {
  padding: 36px 98px;
  width: 100%;
}
.footer-first {
  display: inline-block;
  margin-right: 288px;
}
.footer-first a {
  margin-right: 354px;
  vertical-align: 28px;

  font-size: 20px;
  font-weight: bold;
  color: #282b31;
  display: inline-block;
}
.images {
  display: inline-block;
}
.footer-main img {
  width: 170px;
}
.btn {
  display: inline-block;
  vertical-align: 36px;
}
.social-media-btn {
  width: 40px;
  height: 40px;
  display: inline-block;
  border: 1px solid #e7e8ea;
  padding: 12px;
}
.fa-brands {
  color: #b9bdc3;
}
.footer-copyright {
  border-top: solid 1px #e7e8ea;
  padding: 22px 98px 24px;
  font-size: 11px;
  color: #999ea8;
}
